.brick-layout {
  margin-left: auto;
  margin-right: auto;
  width: 405px;
  height: 280px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.color-aqua {
  background-color: aqua;
}

.color-yellow {
  background-color: yellow;
}

.color-fuchsia {
  background-color: fuchsia;
}

.brick1 {
  min-height: 80px;
  min-width: 110px;
  border: solid 2px black;
}

.brick2 {
  min-height: 80px;
  min-width: 150px;
  border: solid 2px black;
}

.brick3 {
  min-height: 80px;
  min-width: 110px;
  border: solid 2px black;
}

.brick4 {
  min-height: 80px;
  min-width: 135px;
  border: solid 2px black;
}

.brick5 {
  min-height: 80px;
  min-width: 100px;
  border: solid 2px black;
}

.brick6 {
  min-height: 80px;
  min-width: 135px;
  border: solid 2px black;
}

.brick7 {
  min-height: 80px;
  min-width: 100px;
  border: solid 2px black;
}

.brick8 {
  min-height: 80px;
  min-width: 280px;
  border: solid 2px black;
}
